.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.item {
    background: #007bff;
    padding: 20px;
    color: white;
    border-radius: 8px;
}